In [1]:
# Running for the first time? Install Keras:
#!pip install keras
#!pip install tensorflow-gpu --yes
#!pip install opencv-python

In [1]:
import sklearn
import keras
from tensorflow.keras.preprocessing import image
#from tensorflow.keras.applications.resnet50 import preprocess_input, decode_predictions, ResNet50
import numpy as np
import pandas as pd
from tensorflow.keras.applications.inception_v3 import InceptionV3, preprocess_input, decode_predictions

#from tensorflow.keras.applications.mobilenet_v2 import MobileNetV2, preprocess_input, decode_predictions
#from tensorflow.keras.applications.inception_resnet_v2 import InceptionResNetV2, preprocess_input, decode_predictions
# MobileNet?
import cv2
from PIL import Image
import pandas as pd
from os import listdir
from os.path import isfile, join

In [2]:
## Find name of 
import requests
def return_name(wnid):
    name = 'http://www.image-net.org/api/text/wordnet.synset.getwords?wnid='+wnid
    eng_name = requests.get(name).content.decode("utf-8").strip('\n')
    return eng_name

In [3]:
def read_process_image(path, transformation):
    """
    Reads an image and performs the desired transformation
    """
    #img = cv2.imread(path,cv2.IMREAD_COLOR)
    try:
        img = image.load_img(path, target_size=(224, 224))
    except:
        return None, None
    img = image.img_to_array(img)
    
    if img is None:
        return None, None
    rows,cols, channels = img.shape

    if transformation == 'translate':
        x_translate = 1
        y_translate = 1
        M = np.float32([[1,0,x_translate],[0,1,y_translate]]) # translation
        res = cv2.warpAffine(img,M,(cols,rows))
        
    if transformation == 'scale':
        scale_x = 1 # Reduce x by 1 pixel
        scale_y = 1
        res = cv2.resize(img,(cols - scale_x, rows - scale_y), interpolation = cv2.INTER_LINEAR)
        
    if transformation == 'rotate_180': # Rotates 180 deg
        res = cv2.rotate(img, cv2.ROTATE_180)
        
    if transformation == 'rotate_90': # Rotates 90 deg
        res = cv2.rotate(img, cv2.ROTATE_90_CLOCKWISE)
        
    if transformation == 'horizontal_flip':
        res = cv2.flip(img, 1)


    #res = cv2.cvtColor(res, cv2.COLOR_BGR2RGB)
    #res = Image.fromarray(res)
    #img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
    img = np.expand_dims(img, axis=0)
    #img = Image.fromarray(img)
    return img, res

In [4]:
def preds_comparison(pred1, pred2):
    """
    Calculates metrics based on two sets of predictions.
    """
    k = len(pred1)
    if k < 1:
        return
    if pred1[0][0] == pred2[0][0]:
        top1_changed = 0
    else:
        top1_changed = 1
    top1_class = pred1[0][0]
    pred_2_value = 0
    for pred in pred2:
        if pred[0] == top1_class:
            pred_2_value = pred[2]
    
    top1_delta = abs(pred1[0][2] - pred_2_value)
    
    avg_delta = abs(sum([abs(pred1[i][2] - pred2[i][2]) for i in range(k)]) / k)
    return top1_changed, top1_delta, avg_delta

In [5]:
def predict(model, img, img_transformed):
    """
    Given a model, an image and a transformed image, generate the predictions
    """
    k = 10
    # Original
    x = np.expand_dims(img, axis=0)
    x = preprocess_input(img)

    preds = model.predict(x)
    #print('Original:', decode_predictions(preds, top=10)[0])
    pred_orig = decode_predictions(preds, top=k)[0]
    top1_class_orig_pred = pred_orig[0][1]
    
    # Transformed 
    x = np.expand_dims(img_transformed, axis=0)
    x = preprocess_input(x)

    preds = model.predict(x)
    #print('Transformed:', decode_predictions(preds, top=k)[0])
    pred_trans = decode_predictions(preds, top=k)[0]
    top1_class_trans_pred = pred_trans[0][1]
    
    top1_changed, top1_delta, avg_delta = preds_comparison(pred_orig, pred_trans)
    return top1_changed, top1_delta, avg_delta, top1_class_orig_pred, top1_class_trans_pred

In [6]:
model = InceptionV3(weights='imagenet')

In [7]:
output_df = pd.DataFrame([],
                   columns=['Class Name', 'Transformation', 'Model', 'Orig Pred Class Name', 'Trans Pred Class Name',
                            'Top 1 Changed', 'Top 1 Delta', 'Avg Delta', 'Path'])



wnid_list = ['n07716906', 'n12267677', 'n02109961', 'n03345487', 'n03032252', 'n02509815', 'n07747607', 'n07753592','n02279972', 'n04347754', 'n04146614']
trans_list = ['translate', 'scale', 'rotate_180', 'rotate_90', 'horizontal_flip']
model_nm = 'InceptionV3'
for trans in trans_list:
    for wnid in wnid_list:
        print(wnid, trans)
        folder_path = 'images/{}/'.format(wnid)
        class_nm = return_name(wnid)
        image_paths = [folder_path + f for f in listdir(folder_path) if isfile(join(folder_path, f))]
        for image_path in image_paths:
            img, res = read_process_image(image_path, trans)
            if img is None:
                continue
            top1_changed, top1_delta, avg_delta, top1_class_orig_pred, top1_class_trans_pred = predict(model, img, res)
            row_append = np.array([class_nm, trans, model_nm, top1_class_orig_pred, top1_class_trans_pred, top1_changed, top1_delta, avg_delta, image_path])
            output_df = output_df.append(dict(zip(output_df.columns, row_append)), ignore_index=True)
        output_df = output_df.astype(dtype= {"Top 1 Changed":"int64",
                "Top 1 Delta":"float64","Avg Delta":"float64"})
        output_df.to_csv('{}_output2.csv'.format(model_nm))

n07716906 translate
WARNING:tensorflow:Model was constructed with shape (None, 299, 299, 3) for input Tensor("input_1:0", shape=(None, 299, 299, 3), dtype=float32), but it was called on an input with incompatible shape (None, 224, 224, 3).
n12267677 translate
n02109961 translate
n03345487 translate
n03032252 translate
n02509815 translate
n07747607 translate
n07753592 translate
n02279972 translate
n04347754 translate
n04146614 translate
n07716906 scale
WARNING:tensorflow:Model was constructed with shape (None, 299, 299, 3) for input Tensor("input_1:0", shape=(None, 299, 299, 3), dtype=float32), but it was called on an input with incompatible shape (None, 223, 223, 3).
n12267677 scale
n02109961 scale
n03345487 scale
n03032252 scale
n02509815 scale
n07747607 scale
n07753592 scale
n02279972 scale
n04347754 scale
n04146614 scale
n07716906 rotate_180
n12267677 rotate_180
n02109961 rotate_180
n03345487 rotate_180
n03032252 rotate_180
n02509815 rotate_180
n07747607 rotate_180
n07753592 rotate_180
n02279972 rotate_180
n04347754 rotate_180
n04146614 rotate_180
n07716906 rotate_90
n12267677 rotate_90
n02109961 rotate_90
n03345487 rotate_90
n03032252 rotate_90
n02509815 rotate_90
n07747607 rotate_90
n07753592 rotate_90
n02279972 rotate_90
n04347754 rotate_90
n04146614 rotate_90
n07716906 horizontal_flip
n12267677 horizontal_flip
n02109961 horizontal_flip
n03345487 horizontal_flip
n03032252 horizontal_flip
n02509815 horizontal_flip
n07747607 horizontal_flip
n07753592 horizontal_flip
n02279972 horizontal_flip
n04347754 horizontal_flip
n04146614 horizontal_flip

In [90]:
output_df.loc[lambda f: f['Top 1 Changed'] == 1] # All results that changed

,Class Name,Orig Pred Class Name,Trans Pred Class Name,Top 1 Changed,Top 1 Delta,Avg Delta,Path
89,lesser panda\nred panda\npanda\nbear cat\ncat ...,lesser_panda,birdhouse,1,0.026042,0.011703,images/n02509815/180.jpg
345,orange,pole,traffic_light,1,0.002450,0.003718,images/n07747607/117.jpg
355,orange,orange,Granny_Smith,1,0.064665,0.046131,images/n07747607/126.jpg
396,orange,orange,Granny_Smith,1,0.064665,0.046131,images/n07747607/163.jpg
443,orange,orange,lemon,1,0.052683,0.027471,images/n07747607/205.jpg
455,orange,lemon,orange,1,0.095925,0.060260,images/n07747607/216.jpg
482,orange,strawberry,lemon,1,0.053144,0.023803,images/n07747607/240.jpg
551,orange,maraca,orange,1,0.004549,0.003812,images/n07747607/302.jpg
565,orange,orange,lemon,1,0.008286,0.006653,images/n07747607/315.jpg
622,orange,pencil_sharpener,web_site,1,0.041601,0.004647,images/n07747607/367.jpg
628,orange,ping-pong_ball,orange,1,0.043694,0.021991,images/n07747607/372.jpg
641,orange,hip,orange,1,0.232128,0.119043,images/n07747607/384.jpg
645,orange,lemon,orange,1,0.017029,0.007511,images/n07747607/388.jpg
699,orange,hip,robin,1,0.020113,0.009617,images/n07747607/86.jpg

In [13]:
output_df.to_csv('resnet_output.csv')

,Class Name,Transformation,Model,Orig Pred Class Name,Trans Pred Class Name,Top 1 Changed,Top 1 Delta,Avg Delta,Path
0,spaghetti squash,translate,<tensorflow.python.keras.engine.functional.Fun...,spaghetti_squash,spaghetti_squash,0,0.011406,0.002779,images/n07716906/1.jpg
1,spaghetti squash,translate,<tensorflow.python.keras.engine.functional.Fun...,spaghetti_squash,spaghetti_squash,0,0.000759,0.000170,images/n07716906/10.jpg
2,spaghetti squash,translate,<tensorflow.python.keras.engine.functional.Fun...,spaghetti_squash,spaghetti_squash,0,0.026385,0.004691,images/n07716906/100.jpg
3,spaghetti squash,translate,<tensorflow.python.keras.engine.functional.Fun...,spaghetti_squash,spaghetti_squash,0,0.038123,0.006851,images/n07716906/101.jpg
4,spaghetti squash,translate,<tensorflow.python.keras.engine.functional.Fun...,spaghetti_squash,spaghetti_squash,0,0.019644,0.013717,images/n07716906/102.jpg
...,...,...,...,...,...,...,...,...,...
18185,school bus,horizontal_flip,<tensorflow.python.keras.engine.functional.Fun...,school_bus,school_bus,0,0.000917,0.000588,images/n04146614/95.jpg
18186,school bus,horizontal_flip,<tensorflow.python.keras.engine.functional.Fun...,minibus,trolleybus,1,0.055838,0.012545,images/n04146614/96.jpg
18187,school bus,horizontal_flip,<tensorflow.python.keras.engine.functional.Fun...,school_bus,school_bus,0,0.006192,0.001171,images/n04146614/97.jpg
18188,school bus,horizontal_flip,<tensorflow.python.keras.engine.functional.Fun...,school_bus,school_bus,0,0.023012,0.003684,images/n04146614/98.jpg
18189,school bus,horizontal_flip,<tensorflow.python.keras.engine.functional.Fun...,school_bus,school_bus,0,0.110848,0.016563,images/n04146614/99.jpg

In [18]:
output_df # All results

,Class Name,Transformation,Model,Orig Pred Class Name,Trans Pred Class Name,Top 1 Changed,Top 1 Delta,Avg Delta,Path
0,spaghetti squash,translate,MobileNetV2,butternut_squash,butternut_squash,0,0.083343,0.015829,images/n07716906/1.jpg
1,spaghetti squash,translate,MobileNetV2,spaghetti_squash,spaghetti_squash,0,0.041054,0.005587,images/n07716906/10.jpg
2,spaghetti squash,translate,MobileNetV2,spaghetti_squash,spaghetti_squash,0,0.131593,0.027112,images/n07716906/100.jpg
3,spaghetti squash,translate,MobileNetV2,spaghetti_squash,spaghetti_squash,0,0.045382,0.017253,images/n07716906/101.jpg
4,spaghetti squash,translate,MobileNetV2,spaghetti_squash,spaghetti_squash,0,0.008551,0.005373,images/n07716906/102.jpg
...,...,...,...,...,...,...,...,...,...
18215,school bus,horizontal_flip,MobileNetV2,school_bus,school_bus,0,0.023335,0.003830,images/n04146614/95.jpg
18216,school bus,horizontal_flip,MobileNetV2,trolleybus,trolleybus,0,0.100575,0.020403,images/n04146614/96.jpg
18217,school bus,horizontal_flip,MobileNetV2,school_bus,school_bus,0,0.078593,0.019396,images/n04146614/97.jpg
18218,school bus,horizontal_flip,MobileNetV2,school_bus,school_bus,0,0.010100,0.002047,images/n04146614/98.jpg
18219,school bus,horizontal_flip,MobileNetV2,school_bus,school_bus,0,0.030945,0.003430,images/n04146614/99.jpg

In [92]:
output_df.groupby('Class Name').mean()

,Top 1 Changed,Top 1 Delta,Avg Delta
Class Name,,,
lesser panda\nred panda\npanda\nbear cat\ncat bear\nAilurus fulgens,0.003077,0.037413,0.015412
orange,0.033419,0.031388,0.017757

In [93]:
output_df.groupby('Orig Pred Class Name').count().sort_values('Class Name', ascending=False)

,Class Name,Trans Pred Class Name,Top 1 Changed,Top 1 Delta,Avg Delta,Path
Orig Pred Class Name,,,,,,
orange,336,336,336,336,336,336
lesser_panda,316,316,316,316,316,316
lemon,14,14,14,14,14,14
banana,10,10,10,10,10,10
grocery_store,3,3,3,3,3,3
howler_monkey,2,2,2,2,2,2
strawberry,2,2,2,2,2,2
pomegranate,2,2,2,2,2,2
pineapple,2,2,2,2,2,2
patio,2,2,2,2,2,2
maraca,2,2,2,2,2,2
French_loaf,2,2,2,2,2,2
web_site,2,2,2,2,2,2
hip,2,2,2,2,2,2
giant_panda,2,2,2,2,2,2
ping-pong_ball,1,1,1,1,1,1
Granny_Smith,1,1,1,1,1,1
soccer_ball,1,1,1,1,1,1
prison,1,1,1,1,1,1
bakery,1,1,1,1,1,1
pole,1,1,1,1,1,1
plate,1,1,1,1,1,1
barrow,1,1,1,1,1,1
goblet,1,1,1,1,1,1
pencil_sharpener,1,1,1,1,1,1
chainlink_fence,1,1,1,1,1,1
paper_towel,1,1,1,1,1,1
crate,1,1,1,1,1,1
dhole,1,1,1,1,1,1
American_black_bear,1,1,1,1,1,1